<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="cs" />
    <add name="cs" connectionString="Data Source=120.138.9.66;Initial Catalog=dbIVYGA;User ID=sa;pwd=Cq$gP%*ka4c$;Connection Timeout=120;Connection Lifetime=120;Max Pool size=100;" />
  </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="Index.aspx" />
    </files>
  </defaultDocument>
</system.webServer>
    <location path="wordpress">
    </location>
</configuration>
